/*Général*/

*{
	font-family: 'Open Sans', serif;
	margin:0 auto;
}

a{
	text-decoration: none;
}

span {
	display: block;
}

#part1, #part2{
	display: block;
	font-size: 12px;
}

#part4,#part5,#faq p{
	font-weight:bold;
}



/*CSS de la navbar*/

.navbarcouleur {
	background-color: #1a2d34;
}

nav a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.nav-link
{
	color: #fff;
}

i.fas.fa-caret-down
{
	padding-left: 5px;
}

i.fas.fa-bars{
	color: white;
}

#navbtn {
	float: right;
	margin-right: 50px;
}


form {
	padding: 10% 0 0 0;
	text-align: center;
}


/*CSS de la page acceuil*/

#part1 {
	background-color: #1a2d34;
	border-bottom-left-radius: 55% 90px;
	padding-bottom: 100px;
	border-bottom-right-radius: 55% 90px;
}


.bouton
{
	background-color: #ec008c;
	color: #fff;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 18px;
	font-weight: bold;

}

#part1 h1{
	font-size:30px;
	color: #fff;
	font-weight: bold;
}

#part1 h5{
	color: #fff;
	font-size:15px;
}



.screenshot
{
	float: right;
	width: 400px;
	height: 250px;
	position:relative;
	right:70px;

}


/*CSS de la partie 2*/

#maindiv {
	text-align: center;
	padding-bottom: 50px;
}

.explications
{
	margin: 0 auto;
}

.colonne1
{
	float: left;
	margin: 0 auto;
}

.colonne2
{
	display: inline-block;
	float: left;
	margin: 0 auto;
}

.colonne3
{
	display: inline-block;
	margin: 0 auto;
}


/*CSS de la Partie 3 du site*/


/*CSS de la Partie 4 du site*/

#part4{
	background: #1a2d34;
	padding: 20%;
	text-align: center;
}


#part4 img{
	height: 70px;
	width: 70px;
}

#part4 p{
	color: white;
	display: inline;
	font-size: 30px;
}

/*CSS de la partie 5 du site*/

#part5{
	background:#D00070;
	padding: 40px 0 40px 0; 
	text-align: center;
	color: white;
	border-bottom-left-radius: 50% 90px;
	border-bottom-right-radius: 50% 90px;
}

#part5 img{
	height: 40px;
	width: 40px;
}

#part5 p{
	font-size: 35px;
}

#part5 h6{
	display: block;
}

#part5 h6:last-child{
	padding-bottom: 40px;
}

#part5 button{
	margin: 10px 0 0 10px;
	padding: 15px 30px 15px 30px;
}

#part5 span{
	font-weight: bold;
}

/*CSS de la Section FAQ du site*/

#faq {
	text-align: center;
	padding: 10%;
	border-bottom-left-radius: 50% 90px;
	border-bottom-right-radius: 50% 90px;
}

#faq p{
	font-size:40px;
}

#faq h4 {
	color: #ec008c;
}

#faq h6{
	display: block;
}

.more{
	padding:25px;
	text-align:center;
}

.more a {
	color: #ec008c;
}
/*CSS du footer*/

footer
{
	background-color: #1a2d34;
	height: 100px;
	font-weight: bold;
	padding:100px 20px;

}


.trait
{
	opacity:0.2;
	height: 1px;
	background: #b0a9a7;
	margin-bottom:10px;
	
}

#infosite
{
	color: #b0a9a7;
	font-size: 10px;
	display: inline;

}

#logos
{
	float: right;
}

/*CSS de la page d'inscription et de la page de connexion du site*/


.erreur {
	color: red;
}

.bordure{
	width:50%;
	border:2px solid;
	background-color:whitesmoke;
}

.saisie{
	margin:40px;
}

.retour {
	margin-top:40px;
	position: relative;
	left: 40%;
}

.submit{
	margin-bottom:20px;
}

/*CSS de la page utilisateur*/

#user {
	background-color: #424242;
	text-align: center;
}

#user.formulaire {
	margin-top: 40px;
}


#user h1 {
	margin-top: 5px;
	font-weight: bold;
	color: #fff;
	font-size: 20px;
}

#imageprofil {
	height: 200px;
}

#user input {
	font-size: 20px;
	border-radius: 5px;
	font-weight: bold;
}

#user span {
	font-weight: bold;
	color: #fff;
	font-size: 29px;
}

#user p {
	font-size: 15px;
}

.bouttonsubmit {
	margin-top: 20px;
	background: #424242;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
}

#mdp {
	margin-top: 10px;
}


.bouttonchange {
	margin-top: 10px;
}

/*CSS de la Page administratif*/

#adminpage h1 {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
}

#adminpage nav {
	background: #FF33F0;
}


#adminpage h2 {
	font-weight: bold;
	font-size: 30px;
}

.stylequestions {
	font-weight: bold;
	background-color: #E9DDDB;
	border-radius: 5px;
	font-size: 18px;
}

#general {
	margin-top: 10px;
}

i.fas.fa-trash i.fas.fa-edit {
	margin-left: 10px;
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

#adminpage p {
	margin-left: 2px;
}

/*CSS de la page Ajout question*/

#ajoutQuestion{
	text-align:center;
	background-color:whitesmoke;
}