/*Général*/

*{
	font-family: 'Open Sans', serif;
	margin:0 auto;
}

a{
	text-decoration: none;
}

span {
	display: block;
}

#part1, #part2{
	display: block;
	font-size: 12px;
}

#part4,#part5,#faq p{
	font-weight:bold;
}



/*CSS de la navbar*/

.navbarcouleur {
	background-color: #1a2d34;
}

nav a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.nav-link
{
	color: #fff;
}

i.fas.fa-caret-down
{
	padding-left: 5px;
}

i.fas.fa-bars{
	color: white;
}

#navbtn {
	float: right;
	margin-right: 50px;
}


form {
	padding: 10% 0 0 0;
	text-align: center;
}


/*CSS de la page acceuil*/

#part1 {
	background-color: #1a2d34;
	border-bottom-left-radius: 55% 90px;
	padding-bottom: 100px;
	border-bottom-right-radius: 55% 90px;
}


.bouton
{
	background-color: #ec008c;
	color: #fff;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 18px;
	font-weight: bold;

}

#part1 h1{
	font-size:30px;
	color: #fff;
	font-weight: bold;
}

#part1 h5{
	color: #fff;
	font-size:15px;
}



.screenshot
{
	float: right;
	width: 400px;
	height: 250px;
	position:relative;
	right:70px;

}


/*CSS de la partie 2*/

#maindiv {
	text-align: center;
	padding-bottom: 50px;
}

.explications
{
	margin: 0 auto;
}

.colonne1
{
	float: left;
	margin: 0 auto;
}

.colonne2
{
	display: inline-block;
	float: left;
	margin: 0 auto;
}

.colonne3
{
	display: inline-block;
	margin: 0 auto;
}


/*CSS de la Partie 3 du site*/
#part3
{
	background-color: #E6E6E6;
}

#part3 h1
{
	text-align: center;
	font-weight: bold;
}

#part3 p
{
	text-align: center;
}

#part3 img
{
	width: 75%;
	height: 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#part3 .liens
{
	background-color: #ec008c;
	color: #fff;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 18px;
	font-weight: bold;
}

/*CSS de la Partie 4 du site*/

#part4{
	background: #1a2d34;
	padding: 20%;
	text-align: center;
}


#part4 img{
	height: 70px;
	width: 70px;
}

#part4 p{
	color: white;
	display: inline;
	font-size: 30px;
}

/*CSS de la partie 5 du site*/

#part5{
	background:#D00070;
	padding: 40px 0 40px 0; 
	text-align: center;
	color: white;
	border-bottom-left-radius: 50% 90px;
	border-bottom-right-radius: 50% 90px;
}

#part5 img{
	height: 40px;
	width: 40px;
}

#part5 p{
	font-size: 35px;
}

#part5 h6{
	display: block;
}

#part5 h6:last-child{
	padding-bottom: 40px;
}

#part5 button{
	margin: 10px 0 0 10px;
	padding: 15px 30px 15px 30px;
}

#part5 span{
	font-weight: bold;
}

/*CSS de la Section FAQ du site*/

#faq {
	text-align: center;
	padding: 10%;
	border-bottom-left-radius: 50% 90px;
	border-bottom-right-radius: 50% 90px;
}

#faq p{
	font-size:40px;
}

#faq h4 {
	color: #ec008c;
}

#faq h6{
	display: block;
}

.more{
	padding:25px;
	text-align:center;
}

.more a {
	color: #ec008c;
}
/*CSS du footer*/

footer
{
	background-color: #1a2d34;
	height: 100px;
	font-weight: bold;
	padding:100px 20px;

}


.trait
{
	opacity:0.2;
	height: 1px;
	background: #b0a9a7;
	margin-bottom:5%;
	
}

#infosite
{
	color: #b0a9a7;
	font-size: 10px;
	display: inline;

}

#logos
{
	float: right;
}

/*CSS de la page d'inscription et de la page de connexion du site*/


.erreur {
	color: red;
}

.bordure{
	width:50%;
	border:2px solid;
	background-color:whitesmoke;
}

.saisie{
	margin:40px;
}

.retour {
	margin-top:40px;
	position: relative;
	left: 40%;
}

.submit{
	margin-bottom:20px;
}

.success{
	color:#00FF00;
}

/*CSS de la page utilisateur*/

#user {
	background-color: #424242;
	text-align: center;
}

#user.formulaire {
	margin-top: 40px;
}


#user h1 {
	margin-top: 5px;
	font-weight: bold;
	color: #fff;
	font-size: 20px;
}

#imageprofil {
	height: 200px;
}

#user input {
	font-size: 20px;
	border-radius: 5px;
	font-weight: bold;
}

#user span {
	font-weight: bold;
	color: #fff;
	font-size: 29px;
}

#user p {
	font-size: 15px;
}

.bouttonsubmit {
	margin-top: 20px;
	background: #424242;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
}

#mdp {
	margin-top: 10px;
}


.bouttonchange {
	margin-top: 10px;
}

/*CSS de la Page administratif*/

#adminpage h1 {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
}

#adminpage nav {
	background: #FF33F0;
}


#adminpage h2 {
	font-weight: bold;
	font-size: 30px;
}

.stylequestions {
	font-weight: bold;
	background-color: #E9DDDB;
	border-radius: 5px;
	font-size: 18px;
}

#general {
	margin-top: 10px;
}

i.fas.fa-trash i.fas.fa-edit {
	margin-left: 10px;
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

#adminpage p {
	margin-left: 2px;
}

/*CSS de la page Ajout question*/

#ajoutQuestion{
	text-align:center;
	background-color:whitesmoke;
}

.liens {
	text-align: center;
}

.menu_lien {
	text-align: center;
}

h2 {
	text-align: right;
}

.description {
	text-align: right;
}
/*Commentaire*/
.right {
	position: absolute;
	left: 75%;
	width: 25%;
	display: inline-block;
}
/*Image personnes*/
.persona3 {
	width: 5%;
	margin-left: 65%;
}

.persona1 {
	height: 5%;
}

.imgs {
	margin-left: auto;
	margin-right: auto;
}
/*Commentaires*/
.comments1 {
	padding: 20px;
	margin-bottom: 30px;
	height: 175px;
}

.commentp {
	height: 100%;
	width: 90%;
	display: inline-block;
	float: right;
}
/*Image de profil*/
.CommentIcon {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	padding: 20px;
	margin-left: 20px;
}

.description-perso {
	text-align: right;
}
/*Menu de navigation*/
.menu {
	word-spacing: 50%;
	color: white;
	margin-left: 10px;
	font-weight: bold;
}
/*Menu*/
.bloc {
	background-position: right top;
	background-color: #FF007F;
	color: pink;
}

.img {
	width: 80px;
}

.img2 {
	width: 110px;
}
/*Image de profile*/
.profile {
	width: 30px;
}
/*Commentaire*/
.right {
	position: absolute;
	right: 75%;
	width: 25%;
	display: inline-block;
}

.folder {
	width: 10%;
}
/*Compte utilisateur*/
.compte {
	text-align: right;
	margin-right: 2%;
	margin-bottom: -5%;
}
/*Fond gris*/
.background-grey {
	background-color: #E6E6E6;
}
/*Image ajout fichier*/
.image {
	width: 10%;
}
/*Arrière plan index3*/
.black {
	background-color: #2E2E2E;
}
/*Description objectif atteint index3*/
.texte {
	color: white;
}

p {
	font-weight: bold;
}

label {
	font-weight: bold;
}

.background-grey1 {
	margin-bottom: 5px;
	background-color: #E6E6E6;
}

.img4 {
	width: 45px;
}
/*Durée de poste du commentaire*/
.comment-time {
	font-size: 10px;
}

.profil {
	text-align: right;
	color: white;
}

.image-utilisateur {
	height: 5%;
	border-radius: 100%;
}
/*Boutons annuler / valider index3*/
.choix {
	color: black;
}
/*Image index3*/
.nourriture {
	width: 25%;
}
/*Graphique index3*/
.anneaux {
	width: 30%;
	margin-left: 10%;
}
/*Titre question index3*/
h3 {
	color: grey;
}
/*Graphiques index3*/
.graphique {
	width: 50%;
}
/*Commentaires*/
.comments {
	color: white;
}