.titre
{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
}

.barre
{
	background: #FF33F0;
}


.indication 
{
	font-weight: bold;
	font-size: 30px;
}

.stylequestions
{
	font-weight: bold;
	background-color: #E9DDDB;
	border-radius: 5px;
	font-size: 18px;


}

.general
{
	margin-top: 10px;
}

i
{
	margin-left: 10px;
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}




p
{
	margin-left: 2px;
}

