.ecran
{
	background-color: #424242;
}

.formulaire
{
	margin-top: 40px;
}


.titrepage
{
	margin-top: 5px;
	font-weight: bold;
	color: #fff;
	font-size: 20px;

}

.imageprofil
{
	height: 200px;
}

input[type="text"]
{
   
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
}

span
{
	font-weight: bold; 
	color: #fff; 
	font-size: 29px;
}

.proposition
{
	font-weight: bold; 
	font-size: 15px; 
	color: #fff
}

.bouttonsubmit
{
	margin-top: 20px; 
	background:#424242; 
	border-radius: 5px; 
	color: #fff;
	font-size: 20px;
	
}

.positionproposition
{
	margin-top: 10px;
}

.formulaire
{
	margin-top: 53px;
}
.bouttonchange
{
	margin-top: 10px;
}